

/*-------- General ------*/


.callout-container {
    height: 100vh;

    background: url('../images/shane-hero-light.JPG') no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*------Connect**************/
.social a {
    font-size: 4.5em;
    padding: 3rem;
}



/*-------Footer**************/

footer {
    background-color: black;
    color: grey;
    padding-top: 2rem;
    text-align: center;
}

footer a {
    color: grey;
}


/*----- Media Queries -----*/

@media(max-width: 992px) {
    .social a {
    font-size: 4em;
    padding: 2rem;
}

    
    
}

@media(max-width: 768px) {

}

@media(max-width: 576px) {
.callout-container {
        background: url('../images/ball_palm.jpg') no-repeat bottom right fixed;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    }

    .social a {
    font-size: 2.5em;
    padding: 1rem;
}
}