

/*-------- General ------*/
body {
    background-color: grey;
}

.callout-container {
    height: 100vh;

    background: url('../images/shane-hero-light.JPG') no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding-bottom: 200px;
}

/*---------BODY------------*/
.main-page {
    background-color: rgba(0, 0, 0, 0.3);
    color: #bdc9c9;
    border: 3px solid #dc2140;
    
    
}



}

.artist {
    background-color: rgba(0, 0, 0, 0.3);
    color: #bdc9c9;
    display: inline-block;
}

.sound-engineer {
    background-color: rgba(0, 0, 0, 0.3);
    color: #bdc9c9;
    display: inline-block;
}


.main-socials {
    font-size: x-large;
}

.color-spotify {
    color: lime;
}

.color-apple {
    color: white;
}

.color-soundcloud {
    color: orange;
}

.about {}


/*------Connect**************/
.connect {
    
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}



/*-------Footer**************/

footer {
    background-color: black;
    color: grey;
    padding-top: 2rem;
    text-align: center;
}

footer a {
    color: grey;
}


/*----- Media Queries -----*/

@media(max-width: 992px) {
    .social a {
    font-size: 4em;
    padding: 2rem;
}

    
    
}

@media(max-width: 768px) {

}

@media(max-width: 576px) {
.callout-container {
        background: url('../images/ball_palm.jpg') no-repeat bottom right fixed;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    }

    .social a {
    font-size: 2.5em;
    padding: 1rem;

    padding-bottom: 200px;
}
}